{% extends 'layouts/main.html' %} {% block title %}New Show Listing{% endblock
%} {% block content %}
<div class="form-wrapper">
  <form method="post" class="form">
    {{ form.csrf_token }}
    <h3 class="form-heading">List a new show</h3>
    <div class="form-group">
      <label for="artist_id">Artist ID</label>
      <small>ID can be found on the Artist's Page</small>
      {{ form.artist_id(class_ = 'form-control', autofocus = true) }}
    </div>
    <div class="form-group">
      <label for="venue_id">Venue ID</label>
      <small>ID can be found on the Venue's Page</small>
      {{ form.venue_id(class_ = 'form-control', autofocus = true) }}
    </div>
    <div class="form-group">
      <label for="start_time">Start Time</label>
      <div class="input-group date" id="start_time_div">
        {{ form.start_time(class_ = 'form-control', placeholder='YYYY-MM-DD
        HH:MM', autofocus = true) }}
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <input
      type="submit"
      value="Create Venue"
      class="btn btn-primary btn-lg btn-block"
    />
  </form>
</div>
<link
  type="text/css"
  rel="stylesheet"
  href="/static/css/bootstrap-glyphicons.css"
/>
<link type="text/css" rel="stylesheet" href="/static/css/rome.min.css" />
<script
  type="text/javascript"
  src="/static/js/libs/jquery-1.11.1.min.js"
></script>
<script type="text/javascript" src="/static/js/libs/rome.min.js"></script>
<script>
  const options = {
    inputFormat: "YYYY-MM-DD HH:mm",
    monthsInCalendar: 3,
    strictParse: true,
  };
  $(function () {
    rome(start_time, options);
    $("#start_time_div").datetimepicker();
  });
</script>

{% endblock %}
